{% extends 'base.html' %}
{% block content %}
    <h1>{{ todo.title }}</h1>
    {% if request.user == todo.author or request.user.is_superuser %}
        <div style="text-align: right">
            <a href="{% url 'todo:update' todo.pk %}">수정</a>
            <form id="delete_form" action="{% url 'todo:delete' todo.pk %}" method ="POST" style="display:inline">
                {% csrf_token %}
                <button type="button" id="delete_btn">삭제</button>
            </form>
        </div>
    {% endif %}
    <div style="text-align: right">
        {{ todo.author.username }}
    </div>
    <hr>
    {{ todo.description }}
{#    {% for key, value in info.items %}#}
{#      <p>{{ key }}: {{ value }}</p>#}
{#    {% endfor %}#}
    <hr>
    <a href="{% url 'todo:list' %}">이전 페이지 이동</a>
{% endblock %}

{% block js %}
    <script>
        document.querySelector('#delete_btn').addEventListener('click', function(){
            if(confirm('삭제하시겠습니까?')) {
                document.querySelector('#delete_form').submit();
            }
        })
    </script>
{% endblock %}